
body{
  display: grid;
  background-color: beige;
}

Header{
  display: flex;
}
h1{
  font-size: large;
  color: gold;
}

Nav{
  display: flex;
}

ul{
  list-style: none;
}

Footer{
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
